<header class="header">

    <div class="header__search">
        <input class="header__input" type="text" placeholder="Pesquise aqui">
        <a class="header__icon" href="javascript:void(0);"><i class="icon fas fa-search"></i></a>
    </div>

    <figure class="header__brand">
        <img src="../../assets/brand.png" alt="SRM" >
    </figure>

    <div class="header__user">

        <div class="form">
            <label for="group">
                Grupo Economico
                <select class="form__select" id="group">
                    <option value="Visão Agregada 1">Visão Agregada 1</option>
                    <option value="Visão Agregada 2">Visão Agregada 2</option>
                    <option value="Visão Agregada 3">Visão Agregada 3</option>
                    <option value="Visão Agregada 4">Visão Agregada 4</option>
                </select>
            </label>
        </div>

        <div class="form">
            <div class="form__group">
                <i class="fas fa-user"></i>
                <select class="form__select form__select--darks" id="user">
                    <option value="user">Levi Alves</option>
                </select>
            </div>
            <i class="fas fa-bell"></i>
        </div>

    </div>

</header>