<nav class="menu">
  <ul class="menu__box">
    <li class="menu__list" routerLink="painel" routerLinkActive="active-link">
      <a class="menu__link">
        <i class="fas fa-globe"></i>
        <span class="menu__link-legend">Painel de Gestão</span>
      </a>
      <span class="fas fa-angle-double-right"></span>
    </li>
    <li class="menu__list" routerLink="digital" routerLinkActive="active-link">
      <a class="menu__link">
        <i class="fas fa-at"></i>
        <span class="menu__link-legend">Conta Digital</span>
      </a>
      <span class="fas fa-angle-double-right"></span>
    </li>
    <li class="menu__list" routerLink="receivable" routerLinkActive="active-link">
      <a class="menu__link" >
        <i class="fas fa-chart-bar"></i>
        <span class="menu__link-legend">Ant. de Recebiveis</span>
      </a>
      <span class="fas fa-angle-double-right"></span>
    </li>
  </ul>
</nav>