<section class="content painel">
    <div class="breadcrumb">
        <a routerLink="" class="breadcrumb__link">Pagina Inicial</a>
        <a class="breadcrumb__link"> > </a>
        <a href="javascript:void(0);" class="breadcrumb__link">Painel de Gestão</a>
    </div>
    <div class="content__box">
        <h1 class="title-primary">
            <i class="fas fa-globe"></i>
            Painel de Gestão
        </h1>
        <div class="form">
            <label for="group">
                Produto
                <select class="form__select" id="group">
                    <option value="Visão Agregada 1">Todos</option>
                </select>
            </label>
        </div>
    </div>

    <div class="content__boxs">
        <div class="content__boxs-colun">
            <div class="content__boxs-header">
                <h2 class="title-secundary">Atalhos</h2>
            </div>
            <div class="content__boxs-footer">
                <div class="content__boxs-footer__colun">
                    <p class="paragraph-primary">Operacional</p>
                    <div class="content__boxs-footer__colun-group">
                        <button class="btn btn--large">Envio</button>
                        <button class="btn btn--large">Envio de Duplicatas</button>
                        <button class="btn btn--large">Nova Operações</button>
                        <button class="btn btn--large">Assinatura</button>
                        <button class="btn btn--large">Assinatura Digital</button>
                    </div>
                </div>
                <div class="content__boxs-footer__colun">
                    <p class="paragraph-primary">Geral</p>
                    <div class="content__boxs-footer__colun-group">
                        <button class="btn btn--medium">Carteira</button>
                        <button class="btn btn--medium">Instruções</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content__boxs-colun">
            <div class="content__boxs-header">
                <h2 class="title-secundary">Alertas</h2>
                <p class="paragraph-primary">Últimos dias</p>
            </div>
            <div class="content__boxs-footer">
                <ul class="painel__box">
                    <li class="painel__list">
                        <span class="paragraph-primary">23 Notas Canceladas</span>
                    </li>
                    <li class="painel__list">
                        <span class="paragraph-primary">13 Notas Canceladas</span>
                        <div class="form">
                            <label for="group">
                                <select class="form__select" id="group">
                                    <option value="Visão Agregada 1">Todos</option>
                                </select>
                            </label>
                        </div>
                    </li>
                    <li class="painel__list">
                        <span class="paragraph-primary">7 Assinaturas Digital</span>
                        <div class="form">
                            <label for="group">
                                <select class="form__select" id="group">
                                    <option value="Visão Agregada 1">Todos</option>
                                </select>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>