<section class="content digital">
  <div class="breadcrumb">
    <a routerLink="" class="breadcrumb__link">Pagina Inicial</a>
  </div>
  <div class="content__box">
    <h1 class="title-primary">
      Bem vindo 
    </h1>
  </div>

  <h2 class="title-secundary">
     Stack Utilizada para o teste - SRM 
  </h2>
  <br>
  <p class="paragraph-primary">HTML 5</p>
  <p class="paragraph-primary">CSS 3</p>
  <p class="paragraph-primary">SASS</p>
  <p class="paragraph-primary">BEM CSS</p>
  <p class="paragraph-primary">ANGULAR 5</p>
  <br>
  <p class="paragraph-primary">Foi utitilizado o pacote <a href="https://cli.angular.io/">@angular/cli</a> para desenvolvimento do teste.</p>
  <br>
</section>
